#blogBeginning {
    text-align: center;
    font-family: Arial;
    font-size: 40px;
}

#uploadSchedule {
    font-family: Arial;
    font-size: 25px;
}

body {
    background-image: url("/images/bgIMG.png");
}

th, td {
    border-style: groove;
    background-color: #085353;
    border-color: #085353;
  }