h1 {
    background-color: #607d8b;
    color: #ffffff;
    text-align: center;
  }

#text123 { 
    color: #7343c1;
}

p {
    text-align: center;
}

img {
    padding-left: 960px;
    padding-right: 960px;
    width: 150px;
}