#seitenTitel {
  color: #7343c1;
  font: icon;
  font: bold;
  font-size: xx-large;
  text-align: center;
}

p {
  text-align: center;
  font: icon;
  font-size: larger;
}

#img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 15px groove;
  padding: 15px;
}