#seitenTitel {
  color: black;
  font: icon;
  font-size: xx-large;
  text-align: center;
}

p {
  text-align: center;
  font: icon;
  font-size: larger;
}

#img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 15px groove;
  padding: 15px;
}

#aesthetics {
  color: rgb(17, 129, 95);
  font: italic;
  font-size: xx-large;
  text-align: center;
}